/* For custom disclaimer banner*/
/* .custom_info_banner {
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(255, 227, 18, 0.1);
    content: "";
    padding:10px;
    margin-bottom:-16px;
    margin-top: 10px;
    line-height:22px;
    box-sizing:border-box;
    font-size: 1rem;
    font-weight: 400;
    text-size-adjust: 100%;
    color:rgb(49, 51, 63);
    -webkit-font-smoothing: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}

.info_banner_left_column {
    width: 22%;
}

.info_banner_right_column {
    width: 75%;
}

.info_banner_right_padding {
    width: 3%;
} */

/* .custom_info_banner img {
    height: 150px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;  
} */

/* .image_caption {
    display:flex;
    align-items: center;
    justify-content: center;
    text-size-adjust: 100%;
    margin-top: 10px;
    margin-bottom:-1px;
} */


/* Remove header, footnote, re-run widgets etc. */
div[data-testid="stToolbar"] {
    visibility: hidden;
    height: 0%;
    position: fixed;
}
div[data-testid="stDecoration"] {
    visibility: hidden;
    height: 0%;
    position: fixed;
}
div[data-testid="stStatusWidget"] {
    visibility: hidden;
    height: 0%;
    position: fixed;
}
#MainMenu {
    visibility: hidden;
    height: 0%;
}
header {
    visibility: hidden;
    height: 0%;
}
footer {
    visibility: hidden;
    height: 0%;
}


/* Remove excess whitespace */
.block-container {
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-left: 5rem;
    padding-right: 5rem;

}